* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
}

.layout-grid {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /*centraliza o elemento*/
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*logotipo*/
header img {
    width: 130px;
}

/*nav*/
.menu {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.menu a {
    /*transformar as letras em maiúsculo*/
    text-transform: uppercase;

    /*retirar a decoração do link*/
    text-decoration: none;

    /*colocar o link em cor preta*/
    color: black;

    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;

}



/* -----------------BANNER---------------------- */

.banner {
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid violet;
}

.banner img {
    width: 100%;
}

/*botão get started*/

.banner a {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    color: #fff;
    background-color: #444;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-weight: 600;
}